body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.container {
    margin: auto;
    width: 70%;
}

h1 {
    text-align: center;    
}

p, h4, #randomNumber {
    font-size: 20px;
}

#totalScore {
    padding-top: 10px;
    padding-bottom: 50px;
}

.crystalImage {
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;
}